# Chặn môi trường ảo và cấu hình của Lab1
Lab1/.venv/
Lab1/.env

# Chặn chung cho Python
**/__pycache__/
**/*.pyc

# Bỏ qua thư mục môi trường ảo
.venv/
venv/
ENV/

# Bỏ qua file cấu hình bảo mật
.env
.env.*
!.env.example
__pycache__/
*.pyc
.idea/
.vscode/
Lab/Lab4/pgdata/
AICourse-review.zip
Lab/lab4-rag/
